 h1{
    align-items: center;
    color: rgb(51, 4, 160);
    padding-left: 130px;
}
button{
    width:120px;
    height:100px;
    font-size:40px;
    }
    .opt{
    color:white;
    background-color:rgb(153, 230, 250);
    }
    